* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    color: #333;
    text-decoration: none;
    transition: .3s ease-in-out;
}
a:hover {
    color: aqua;
}
.top-background {
    background: url(../img/bg-cv2.jpeg) no-repeat center center/cover;
    height: 70vh;
    position: relative;
}
.top-background img {
    border-radius: 50%;
    width: 200px;
    
    height: 200px;
    bottom: -15%;
    left: 50%;
    position: absolute;
    margin-left: -100px;
    border: white 6px solid;
}
#particles-js {
    height: 70vh;
    background-color: #f7c177;
}
.content {
    
    display: flex;
    width: 70%;
    margin: 200px auto;
    justify-content: space-around;
}
.content img {
    width: 80%;
}
.about-content {
    width: 70%;
    margin: auto;
}
.about-content h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.about-content p {
    font-size: 19px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.address {
    display: flex;
    line-height: 1.7;
    align-items: center;
}
.address i {
    font-size: 25px;
    margin-right: 20px;
    padding-bottom: 20px;
}
.address-content span {
    font-weight: 600;
    color: #353535;
    display: inline-block;
    text-transform: uppercase;
}

#myImg{
    cursor: pointer;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;
}
footer {
    
    text-align: center;
    
}
.container-footer {
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    color:#555;
    line-height: 25px;
    
    padding: 50px 0 30px;
}
.text-footer {
    padding: 50px 0;
    font-size: 15px;
    border-top: 1px solid #ccc;
}
.container-footer i {
    font-size: 32px;
    color: #555;
    margin-bottom: 20px;
}
.text-footer span,.text-footer i {
    color: #f44336;
}


/* breakpoint */
@media(max-width:1600px) {
    .content {
        width: 80%;
    }

}

@media(max-width:1400px) {
    .content {
        width: 90%;
    }

}
@media(max-width:1200px) {
    .content {
        display: block;
        text-align: center;
    }
    .address {
        justify-content: center;
    }

}